<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cutety.mapper.CheckInInfoMapper">
  <resultMap id="BaseResultMap" type="com.cutety.entity.CheckInInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stu_id" jdbcType="VARCHAR" property="stuId" />
    <result column="stu_name" jdbcType="VARCHAR" property="stuName"/>
    <result column="major" jdbcType="VARCHAR" property="major"/>
    <result column="check_in_status" jdbcType="INTEGER" property="checkInStatus" />
    <result column="check_in_time" jdbcType="TIMESTAMP" property="checkInTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, stu_id,stu_name,marjor check_in_status, check_in_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from check_in_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from check_in_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cutety.entity.CheckInInfo">
    insert into check_in_info (id, stu_id, stu_name, major, check_in_status,
      check_in_time)
    values (#{id,jdbcType=INTEGER}, #{stuId,jdbcType=VARCHAR}, #{stuName,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, #{checkInStatus,jdbcType=INTEGER},
      #{checkInTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cutety.entity.CheckInInfo">
    insert into check_in_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="stuId != null">
        stu_id,
      </if>
      <if test="checkInStatus != null">
        check_in_status,
      </if>
      <if test="checkInTime != null">
        check_in_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stuId != null">
        #{stuId,jdbcType=VARCHAR},
      </if>
      <if test="checkInStatus != null">
        #{checkInStatus,jdbcType=INTEGER},
      </if>
      <if test="checkInTime != null">
        #{checkInTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cutety.entity.CheckInInfo">
    update check_in_info
    <set>
      <if test="stuId != null">
        stu_id = #{stuId,jdbcType=VARCHAR},
      </if>
      <if test="stuName != null">
        stu_name = #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="checkInTime != null">
        check_in_time = #{checkInTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkInStatus != null">
        check_in_status = 1,
      </if>
    </set>
    where stu_id = #{stuId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cutety.entity.CheckInInfo">
    update check_in_info
    set stu_id = #{stuId,jdbcType=VARCHAR},
      check_in_status = #{checkInStatus,jdbcType=INTEGER},
      check_in_time = #{checkInTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getCheckInAmount" resultType="java.lang.Integer">
    select
    count(*)
    from
    check_in_info
    WHERE
    check_in_status = 1
  </select>

  <select id="getCheckInInfo" resultType="java.util.LinkedHashMap" parameterType="java.lang.String">
    <bind name="pattern" value="year+'%'"/>
    SELECT stu_name, major, check_in_time
    from check_in_info
    where check_in_status = 1
    and stu_id like #{pattern,jdbcType=VARCHAR}
    order by check_in_time
  </select>
</mapper>